@import './styles/colours.scss';

html, body, #app, .app-container {
    font-family: 'Raleway', sans-serif;
    width: 100%; height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $black;
    color: $white;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: row;

    &__carousel-panel {
        flex: 1 1 auto;
    }

    textarea, button:not(.material-icons) {
        font-family: 'Raleway', sans-serif;
    }

    textarea, input, p {
        font-size: 1em;
    }

    label, button:not(.material-icons) {
        font-size: 1.1em;
    }
}