@import "../styles/colours";
@import "../styles/mixins";

.carousel {
    height: 100%;
    position: relative;

    &__nav-button {
        @include transition-complex;
        font-size: 5em;
        border: none;
        cursor: pointer;
        outline: none;
        z-index: 1;
        @include text-overlay;
        opacity: 0;

        &:hover{
            opacity: 1;
        }

        position: absolute;
        top: 0;
        bottom: 0;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }
}